<div
  class="h-80 w-80 flex flex-col justify-around items-center rounded-xl bg-stone-800 overflow-hidden transition duration-300 ease-in-out transform hover:scale-105"
>
  <div class="px-6 pt-4 basis-3/4">
    <div class="font-bold text-center text-xl text-stone-200 mb-2">
      {{ include.title }}
    </div>
    <p class="text-stone-400 text-base font-poppins">{{ include.description }}</p>
  </div>
  <div class="basis-1/4 -mb-4">
    <a
      href="{{ include.link }}"
      class="bg-yellow-600 hover:bg-yellow-900 text-stone-100 font-bold p-4 rounded-xl"
    >
      Read More
    </a>
  </div>
</div>
