---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

.tab-content > div {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
    height: 0;
    overflow: hidden; 
}

.tab-indicator {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left center;
}

.tab.active .tab-indicator {
    opacity: 1;
    transform: scaleX(1);
}


.tab-content > div.active {
    visibility: visible;
    opacity: 1;
    height: auto;
    transition: opacity 300ms;
}

.caret {
    display: inline-block;
    margin-left: 4px; /* Small space between the text and the caret */
    font-weight: bold; /* Makes the caret more visible */
    opacity: 1; /* Start fully visible */
    animation: blink-caret 1s step-end infinite; /* Apply the blinking animation */
}

@keyframes blink-caret {
    50% {
        opacity: 0; /* Half the time fully visible, half the time invisible */
    }
}



